* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
}
:root {
  --first-color: rgb(43 25 95);
  --second-color: #f3f3f3;
  --third-color: #dcdcdc;
  --white-color: white;
  --yellow-color: #ffd415;
  --icon-color: #12004b;
  --text-color: #4f4f4f;
  --orange-color: rgb(237, 161, 18);
  --green-color: rgb(9, 220, 9);
}
a:hover {
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Header Styles */
.top-bar {
  background-color: rgb(43 25 95);
  height: 51px;
  width: 100%;
  color: var(--white-color);
}
.top-bar-xmark {
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--icon-color); */
  /* text-decoration: none; */
}
.top-bar-xmark i {
  color: var(--white-color);
}
.top-bar-xmark:hover {
  background-color: var(--icon-color);
}
#menubar_respon {
  display: none;
}
/* .top-bar-calendar{
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-color);
} */
/* .top-bar-calendar i{
  color: var(--icon-color);
} */
.top-bar__img {
  height: 51px;
}
.top-bar__left {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.col {
  padding: 0;
}
.top-bar__list-icon {
  height: 51px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.top-bar-icon-right a {
  color: var(--white-color);
}
.top-bar-icon-right {
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: thin solid red; */
}
.top-bar-icon-right:hover {
  background-color: var(--yellow-color);
  color: var(--icon-color);
  cursor: pointer;
}
.top-bar-icon-right i:hover {
  background-color: var(--yellow-color);
  color: var(--icon-color);
}
/* .top-bar__list-icon a :hover{
  color: var(--icon-color);
} */
/* a{
  color: white;
  font-size: 18px;
} */

/* Aside Styles */
aside {
  float: left;
  width: 280px;
  height: calc(100vh - 51px);
  background: var(--second-color);
}
aside ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}
ul,
li {
  list-style: none;
}
hr {
  margin: 0;
}
.search-sidebar {
  height: 51px;
  background-color: var(--second-color);
  display: flex;
}
.search-sidebar i {
  opacity: 0.8;
  width: 51px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.search-sidebar i:hover {
  background-color: var(--second-color);
  color: var(--text-color);
}
.search-box input {
  height: 51px;
  width: 200px;
  outline: none;
  border: none;
  background-color: var(--second-color);
}
.menu-title {
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--third-color);
  padding: 10px 0 10px 20px;
  color: var(--text-color);
}
.menu-management {
  display: flex;
  justify-content: space-around;
  background-color: var(--second-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
}
.menu-management .hover {
  color: var(--icon-color);
  width: 100%;
  height: 51px;
  margin-right: 10px;
}
.menu-management:hover {
  background-color: var(--third-color);
}
/* .menu-management:hover + */
.menu-management .hover:hover {
  color: var(--white-color);
  background-color: var(--icon-color);
}

.menu-management div:nth-child(1) {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-management div:nth-child(2) {
  width: 65%;
}
.menu-management div:nth-child(3) {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Article Styles */
article {
  display: grid;
  background-color: var(--white-color);
  color: var(--icon-color);
  height: calc(100vh - 51px);
}
.sub-menu {
  font-size: 15px;
  margin: 15px 15px;
  padding-bottom: 10px;
  border-bottom: thin solid var(--third-color);
  color: var(--text-color);
  opacity: 0.8;
}
.sub-menu strong {
  color: var(--text-color);
}
.table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
}
.table-title h5 {
  color: var(--text-color);
}
.table-title i {
  font-size: 15px;
}
.table-search {
  display: flex;
  height: 100%;
  width: 35%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--second-color);
  padding: 5px 0 5px 5px;
  border-bottom: thin solid var(--text-color);
}
.table-search i {
  margin-right: 8px;
  margin-left: 8px;
  /* color: var(--text-color); */
  opacity: 0.6;
  cursor: pointer;
}
.table-search input {
  background-color: var(--second-color);
  width: 100%;
  margin-left: 8px;
  outline: none;
  font-size: 15px;
}

.table-btn {
  display: flex;
  justify-content: space-between;
}
/* .table-btn li{
  display: inline-block;
  margin-top: 15px;
} */
.table-btn_left div {
  /* margin-top: 5px; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.table-btn_left li {
  padding: 7px 13px 7px 13px;
  margin-left: 15px;
}
.table-btn_left span {
  color: var(--text-color);
}
.table-btn_left .fa-plus {
  color: var(--text-color);
}
.table-btn_left .fa-bell {
  color: var(--orange-color);
}
.table-btn_left .fa-download {
  color: var(--green-color);
}
.table-btn_left li:hover {
  background-color: var(--yellow-color);
}
.table-btn_right {
  /* border: thin solid red; */
  width: 400px;
  opacity: 0.8;
}
.table-btn_right div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.table-btn_right .table-btn_page {
  /* border: thin solid red; */
  display: inline-block;
  margin: 10px;
}
.table-btn_page div {
  display: inline-block;
  font-size: 16px;
  color: var(--text-color);
}
.table-btn_page i {
  font-size: 13px;
  cursor: pointer;
  color: var(--text-color);
}
.fa-chevron-left {
  opacity: 0.5;
}
.table-btn_icon li {
  /* border: thin solid red; */
  height: 30px;
  width: 30px;
  margin: 10px 15px 10px 10px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-btn_icon i {
  color: var(--icon-color);
  /* border: thin solid red; */
}
.table {
  cursor: pointer;
  padding: 15px;
  /* margin: 15px; */
  width: 100%;
  display: block;
  line-height: 1;
}
.table thead {
  background-color: var(--third-color);
  line-height: 1.6;
}
.table .fa-sort {
  float: right;
  margin-left: 6.5rem;
  margin-top: 5px;
}
.fa-sort {
  opacity: 0.2;
  font-size: 13px;
}
.table-row td {
  opacity: 0.8;
}
.table-row th {
  padding: 0.5rem;
  font-weight: lighter;
  opacity: 0.8;
}
.table-row th:hover {
  font-weight: bold;
  opacity: 1;
}
.table-row .color {
  border-left: 5px solid var(--yellow-color);
}
.table-row .red {
  border-left: 5px solid red;
}
.table-row .green {
  border-left: 5px solid green;
}
/* Scroll bar Table */

/* Dropdown List */
.dropdown:active .sidebar-dropdown {
  display: block;
}
.sidebar-dropdown {
  /* display: none; */
  font-weight: lighter;
}
.hidden .hover i {
  display: none;
}

.btnAdd {
  background-color: transparent;
  cursor: pointer;
}

