/* Mobile Styles */
@media only screen and (max-width: 576px) {
    header{
    height: auto;
    width: 100%;
    }
    header .top-bar-xmark{

        display: none;
    }
    header .topbar-title{
        width: 100vw;
        display: flex;
    }
    .col .top-bar__list-icon{
        display: none;
    }
    #menubar_respon{
        display: inline-block;
        float: right;
        font-size: 25px;
        padding: 7px 10px;
        margin-right: 10px;
    }
    #menubar_respon a{
        color: var(--white-color);
    }
    aside{
        /* height: 100vh; */
        width: 100%;
    }
    aside, i{
        display: none;
    }
    .search-box input{
        width: 80vw;
    }
    .search-sidebar{
        margin: 0 10px 0 10px;
    }
    .sub-menu{
        display: none;
    }
    .table-title{
        display: block;
    }
    .table-search{
        width: 90vw;
    }
    .table-btn_left{
        width: 100px;
        
    }
    .table-btn_left li{
        font-size: 15px;
    }
    .table-btn{
        display: block;
    }
    .table-btn_right div{
        justify-content: flex-start;
    }
    .table-scroll{
        width: 100vw;
        overflow: scroll;
    }
    .table{
       margin: 0;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 577px) and (max-width: 991px) {
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
  }