* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
  }
  
  body {
    font-family: Arial;
  }
  /* Header style */
  .header {
    background-color: rgb(43 25 95);
    padding: 7px;
    font-size:  18px;
    color: white;
    height: 60px;
  }
  #icon{
    height: 56px;
  padding: 7px;
  padding-top: 0px;
  }
  #mysearch{
    margin-left: 30px;
    border: none;
  }
  .header__navbar-icon{
    color:white;
   
  }
  .header__navbar-icon:hover{
    background-color: rgb(255, 205, 68);
    color: rgb(43 25 95);
    padding: 10px;
  }
  .header__navbar-icon-right{
    color: white;
    float: right;
    padding: 0 15px;
    margin-top: 8px;
  }
  .header__navbar-icon-right:hover{
    background-color: rgb(255, 205, 68);
    color: rgb(43 25 95);
    padding: 10px;
  }
  .header__navbar-icon-search{
      color: black;
      margin-left: 20px;
    }
  .leftbar-title{
    list-style: none;
    margin: 10px;
    text-decoration: none;
    margin-left: 25px;
    }
  .left-side{
    list-style: none;
    margin: 10px;
    text-decoration: none;
    margin-left: 50px;
  }
  .leftbar{
    height: 600px;
    width: 300px;
    background-color: rgb(209, 209, 209);
  }
  .fa-solid fa-network-wired{
    
  }

  #12004b 